.button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.button:hover,
.button:active {
  background-color: #641e03;
  border-color: #641e03;
  color: white;
}

.button--cancel {
  color: #8a2b06;
}

.button--reset {
  color: #242322;
  border: 1px solid #242322;
}

.button--submit {
  background-color: #242322;
  color: white;
}

.button--edit {
  background-color: #9bcefd;
  color: rgb(8, 30, 59);
}

.button--delete {
  background-color: rgb(185, 126, 131);
  color: rgb(95, 25, 25);
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
