.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  border-bottom: 2px solid #c2a396;
  padding: 0.5rem 0;
  /* margin: 0.5rem 0; */
}

.invalid {
  color: #e4122e;
}
